/*--------------------------------------------------------*/
/* TABLE OF CONTENTS: */
/*--------------------------------------------------------*/
/* 01 - GLOBAL SETTINGS */
/* 02 - RESET STYLES */
/* 03 - GRID */
/* 04 - HEADER STYLES*/
/* 05 - SIDEBAR STYLES */
/* 06 - CONTENT STYLES */
/* 07 - SEARCH */
/* 08- FORMS */
/*--------------------------------------------------------*/
/*--------------------------------------------------------*/
/* 01 - GLOBAL SETTINGS */
* {
  box-sizing: border-box; }

/* 02 - RESET STYLES */
html, body {
  background-color: #F7F7F7; }

h5 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  margin: 0; }

a:link {
  text-decoration: none; }

a:hover {
  background-color: lightblue; }

/* 03 - GRID */
.wrapper {
  font: 1.2em "Helvetica Neue", arial, sans-serif; }

.main-head {
  grid-area: header; }

#content {
  grid-area: content; }

.filter-bar {
  grid-area: filter-bar; }

#side {
  grid-area: sidebar; }

.search {
  grid-area: search; }

.wrapper {
  display: grid;
  grid-template-areas: "header" "filter-bar" "content" "sidebar" "search"; }

/*Mobile*/
@media (max-width: 375px) {
  .wrapper {
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "header  header" "filter-bar filter-bar" "sidebar content" "sidebar content" "sidebar content" "sidebar content" "search  search"; }

  h5 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 10px;
    margin: 0; }

  .avatar {
    display: inline-block;
    background-color: white;
    border-radius: 20px;
    margin-right: 80px; }

  .name-header {
    display: inline-block;
    position: relative;
    text-align: right;
    float: right;
    height: 15px;
    margin-top: 10px;
    margin-right: 10px; } }
/*Tablet*/
@media (min-width: 501px) {
  .wrapper {
    grid-template-columns: 2fr 3fr;
    grid-template-areas: "header  header" "filter-bar filter-bar" "sidebar content" "sidebar content" "sidebar content" "search   search"; } }
/*Desktop*/
@media (min-width: 700px) {
  .wrapper {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: "header header  header" "sidebar content content" "sidebar content content" "sidebar  content content" "sidebar  content content" "search search search"; }

  .filter-bar {
    display: none; }

  .filter-gear {
    display: none; } }
/*04 - HEADER STYLES*/
.main-head {
  background-color: #FCB284;
  padding: 20px;
  display: inline-block;
  position: sticky;
  top: 0;
  width: 100%;
  border-bottom: 20px solid #3E8D50; }

.logo {
  display: inline-block; }

.avatar {
  display: inline-block;
  float: right;
  background-color: white;
  border-radius: 20px; }

.name-header {
  display: inline-block;
  position: relative;
  text-align: right;
  float: right;
  height: 15px;
  margin-top: 10px;
  margin-right: 10px; }

/* 05 - SIDEBAR */
.side {
  background-color: #E0DAD6;
  height: 100%;
  display: inline-block;
  margin-bottom: 100px; }

.filter-bar {
  background-color: #F0EFEF; }

.filter-gear {
  display: inline-block;
  float: right;
  margin: 25px 20px auto 20px;
  height: 22px;
  width: 22px; }

.filter-gear-modal {
  display: inline-block;
  float: left;
  margin: 20px 20px auto 20px;
  height: 22px;
  width: 22px; }

.filter-p {
  text-align: right; }

.filter-item {
  width: 275px;
  text-align: left;
  background-color: #FCB284;
  margin: 5px;
  padding: 20px;

}

.chevron {
  width: 5px;
  height: 5px; }

.selector {
  display: inline-block;
  float: right;
  width: 20px;
  margin-left: 60px; }

.selector4 {
  display: inline-block;
  float: right;
  width: 20px;
  margin-left: 40px; }

/* 06-CONTENT STYLES*/
.content {
  background-color: #F7F7F7;
  display: fixed; }

.modal {
  display: inline-block;
  margin: 40px;
  padding: 40px;
  border: 5px;
  background-color: #FFFFFF;
  align-self: center; }

.modal-search {
  display: inline-block;
  margin: 40px;
  padding: 40px;
  border: 5px;
  background-color: #FFFFFF;
  align-self: center; }

/* 07-SEARCH BAR*/
.search {
  background-color: #FFFFFF;
  box-shadow: 5px;
  font: 20px, #95989A;
  text-align: center;
  position: fixed;
  display: inline-block;
  border: none;
  width: 100%;
  bottom: 2px; }

.search-content {
  padding-left: 100px;
  width: 275px;
  text-align: left;
  background-color: #FCB284;
  margin: 0px; }

/* 08-FORMS*/
b {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #5A5B5C;
  font-size: 10px;
  text-align: center;
  margin-bottom: 15px;
  margin-left: 20px;
  margin-top: 15px; }

.coursefilters {
  margin: 0px 0px 0px 25px; }

.text-form1 {
  border-radius: 20px;
  margin-left: 10px;
  border: 5px;
  width: 90%;
  height: 25px;
  box-shadow: 2px; }

.text-form2 {
  border-radius: 20px;
  margin-left: 10px;
  border: 5px;
  width: 40%;
  height: 25px;
  box-shadow: 2px; }

.text-form3 {
  border-radius: 20px;
  margin-left: 30px;
  border: 5px;
  width: 40%;
  height: 25px;
  box-shadow: 2px; }

.greydiv {
  background-color: #B2AFAC;
  margin: 0px;
  padding: 10px; }

/*not using font and font weight values for some reason*/
.divheading {
  color: #5A5B5C;
  font-size: 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0; }

input[type="radio"] {
  -webkit-appearance: checkbox;
  /* Chrome, Safari, Opera */
  -moz-appearance: checkbox;
  /* Firefox */
  -ms-appearance: checkbox;
  /* not currently supported */
  border-color: black;
  float: right;
  margin-right: 20px; }

.radio-label {
  margin: 10px 0px 10px 20px;
  font-size: 12px;
  color: #5A5B5C; }

.gened-box {
  background-color: #CCCACA;
  display: inline-block;
  margin: 20px;
  padding: 10px; }

/*# sourceMappingURL=style.css.map */
